<app-centered-card title="Registration">
  <form (ngSubmit)="onSubmit()"
        #f="ngForm"
        [appIdentical]="['password', 'rePassword']"
        appIdenticalError="rePassword"
        fxLayout="column"
  >
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email"
             name="email"
             matInput
             autocomplete="username"
             ngModel
             #email="ngModel"
             required
             email
      />
      <mat-error *ngIf="email.touched && email.hasError('required')">
        Field is required
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">
        Email is not correct
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('serverError')">
        {{ email.getError('serverError') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password"
             name="password"
             matInput
             autocomplete="password"
             ngModel
             #password="ngModel"
             required
      />
      <mat-error *ngIf="password.touched && password.hasError('required')">
        Field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Repeat password</mat-label>
      <input type="password"
             name="rePassword"
             matInput
             autocomplete="password"
             ngModel
             #rePassword="ngModel"
             required
      />
      <mat-error *ngIf="rePassword.touched && rePassword.hasError('required')">
        Field is required
      </mat-error>
      <mat-error *ngIf="rePassword.touched && rePassword.hasError('identical')">
        Passwords do not match
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Display Name</mat-label>
      <input type="text"
             name="displayName"
             matInput
             ngModel
             #name="ngModel"
             required
      />
      <mat-error *ngIf="name.touched && name.hasError('required')">
        Field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Avatar</mat-label>
      <app-file-input name="avatar"
                      accept="image/png, image/gif, image/jpeg"
                      ngModel
                      #avatar="ngModel"
                      required
      ></app-file-input>
      <mat-error *ngIf="avatar.touched && avatar.hasError('required')">
        Field is required
      </mat-error>
      <mat-error *ngIf="avatar.touched && avatar.hasError('accept')">
        An avatar with this extension cannot be uploaded
      </mat-error>
      <mat-error *ngIf="avatar.touched && avatar.hasError('serverError')">
        {{ avatar.getError('serverError') }}
      </mat-error>
    </mat-form-field>
    <button mat-raised-button
            color="primary"
            [disabled]="f.invalid || (isLoading | async)"
    >
      <app-loader [isLoading]="isLoading | async" size="sm">
        Register
      </app-loader>
    </button>
  </form>
</app-centered-card>>
