<app-centered-card title="Login">
  <div *ngIf="loginError | async" class="error">
    {{ (loginError | async)?.error }}
  </div>

  <form (ngSubmit)="onSubmit()"
        fxLayout="column"
        #f="ngForm"
        autocomplete="off"
  >
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email"
             name="email"
             matInput
             autocomplete="username"
             ngModel
             #email="ngModel"
             required
             email
      />
      <mat-error *ngIf="email.touched && email.hasError('required')">
        Field is required
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">
        Input correct email
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password"
             name="password"
             matInput
             autocomplete="current-password"
             ngModel
             #password="ngModel"
             required
      />
      <mat-error *ngIf="password.touched && password.hasError('required')">
        Field is required
      </mat-error>
    </mat-form-field>
    <div fxLayout="column" fxLayoutGap="16px">
      <button type="submit"
              mat-raised-button
              color="primary"
              [disabled]="f.invalid || (loginLoading | async)"
      >
        <app-loader [isLoading]="loginLoading | async" size="sm">
          Login
        </app-loader>
      </button>
      <button type="button"
              mat-raised-button
              (click)="fbLogin()"
              [disabled]="(facebookLoading | async)"
      >
        <app-loader [isLoading]="facebookLoading | async" size="sm">
          <img src="assets/icons/icons8-facebook.svg" alt="facebook">
          &nbsp;&nbsp;
          LOGIN WITH FACEBOOK
        </app-loader>
      </button>
      <button type="button"
              mat-raised-button
              (click)="googleLogin()"
              [disabled]="(googleLoading | async)"
      >
        <app-loader [isLoading]="googleLoading | async" size="sm">
          <img src="assets/icons/icons8-google.svg" alt="google">
          &nbsp;&nbsp;
          LOGIN WITH GOOGLE
        </app-loader>
      </button>
    </div>
  </form>
</app-centered-card>
