<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary"
                 fxLayout="row"
                 fxLayoutAlign="space-between center"
    >
      <a routerLink="/">Photo Gallery</a>
      <nav *appIsAuth="false; else userNav">
        <a routerLink="/register" mat-button>Register</a>
        <a routerLink="/login" mat-button>Login</a>
      </nav>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #userNav>
  <nav class="user-nav" *ngIf="user | async as $user">
    <a [routerLink]="['/', 'users', $user._id]" mat-button>
      <img [src]="apiUrl + '/uploads/avatars/' + $user.avatar" [alt]="$user.displayName" />
      <span>Hello, {{ $user.displayName }}</span>
    </a>
    <button type="button" mat-button (click)="logout()">Logout</button>
  </nav>
</ng-template>
